@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url("https://use.typekit.net/jvt4fak.css");

/* https://tailwindcss.com/docs/preflight#extending-preflight */
/* Should be careful adding styles here (as they are global) */
@layer base {

	@font-face {
	  font-family: effra, sans-serif;
	  font-weight: 400;
	  font-style: normal;
	}

	@font-face {
	  font-family: effra, sans-serif;
	  font-weight: 400;
	  font-style: italic;
	}

	@font-face {
	  font-family: effra,sans-serif;
	  font-weight: 500;
	  font-style: normal;
	}

	@font-face {
	  font-family: effra, sans-serif;
	  font-weight: 700;
	  font-style: normal;
	}


	body {
	  @apply font-sans antialiased relative;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
	  @apply font-bold leading-tight;
	}

	p {
	  letter-spacing: -0.02em
	}

	.handwriting {
		font-family: 'Reenie Beanie', cursive;
	}

	.highlight {
		border-radius: 1em 0 1em 0;
		background-image: linear-gradient(-100deg, rgba(18,85,123,0.3), rgba(18,85,123,0.7) 95%, rgba(18,85,123,0.1))
	}

	.highlight-light {
		border-radius: 1em 0 1em 0;
		background-image: linear-gradient(-100deg, rgba(106,196,225,0.3), rgba(106,196,225,0.7) 95%, rgba(106,196,225,0.1))
	}

	.btn-green {
	  @apply w-auto mx-auto inline-flex justify-center py-3 px-8 border border-transparent rounded-full shadow-pop-left text-xl font-medium text-white bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-600 cursor-pointer
	}

	.btn-yellow {
	  @apply w-auto inline-flex justify-center py-1 px-4 border border-transparent rounded-full shadow-pop-left text-base font-medium text-white bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-600
	}
	
	.btn-green-action {
	  @apply w-auto inline-flex justify-center py-1 px-4 border border-transparent rounded-full shadow-pop-left text-base font-medium text-white bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-600 cursor-pointer
	}

	.btn-blue-action {
	  @apply w-auto inline-flex justify-center py-1 px-4 border border-transparent rounded-full shadow-pop-left text-base font-medium text-white bg-blue-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-dark cursor-pointer
	}

	.btn-blue-secondary {
	  @apply w-auto inline-flex justify-center py-1.5 px-5 border border-blue-tertiary rounded-full shadow-sm text-xl font-medium text-blue-tertiary bg-transparent focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-tertiary
	}


	.btn-dark-secondary {
	  @apply w-auto inline-flex justify-center py-1.5 px-5 border border-gray-800 rounded-full shadow-sm text-xl font-medium text-gray-800 bg-transparent focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800
	}


	.btn-dark {
	  @apply w-auto mx-auto inline-flex justify-center py-1.5 px-5 border border-transparent rounded-full shadow-pop-left text-base font-medium text-white bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800
	}

	.bg-section-gradient {
	  background: url('../images/large-section-gradient.svg') no-repeat center/100% 100%
	}
	.bg-gray-curved {
	  background: url('../images/large-section-gray.svg') no-repeat center/100% 100%
	}
	.try-bg {
		@apply top-0 right-0 left-0 bottom-0 fixed flex items-center justify-center;
	}
}

.h-144 {
    height: 40rem;
}

.underline-hover:hover {
	text-decoration-color: #84cc16;
	text-decoration-thickness: 0.2em;
}
:root {
	--plyr-color-main: #f59e0b;
	--plyr-video-controls-background: #18181b6b;
	--plyr-menu-item-arrow-color: #f59e0b;
}

/* hide the controls when the video isn't playing */
.plyr.plyr--stopped .plyr__controls { display: none }

.plyr__blue {
	height: auto;
    .plyr {
    	height: 100%;
    	background: #0d789e;
    }
	.plyr__controls {
		background: #0d789e !important;
	}
}
.plyr--video .plyr__controls {
	padding-top: 10px !important;
}
.plyr__control--overlaid {
	transform: translate(-50%,-50%) scale(2) !important;
}

.graphic-1 {
	position: absolute;
    right: 3%;
    width: 81%;
    bottom: -109px;
    z-index: 30;
    transform: rotateX(29deg) scale(0.85)
}

.graphic-2 {
	position: absolute;
    right: 23%;
    width: 80%;
    bottom: 21px;
    transform: rotateX(177deg) scale(0.85) rotate(9deg);
}

.blob-3 {
	background: url('../images/blob_3.svg') no-repeat;
	background-size: 140%;
    background-position: 60% center;
}

.blob-2 {
	background: url('../images/blob_2.svg') no-repeat;
	background-size: 115%;
    background-position: 5% center;
    --tw-rotate: -51deg;
}

.blob-1 {
	background: url('../images/blob_1.svg') no-repeat;
	background-size: 125%;
    background-position: 60% center;
}

.bg-gray-wave {
	background: url('../images/wave.svg') no-repeat center/100% 100%;
	background-size: cover;
    background-position-y: bottom;
}

.bg-blue-wave {
	background: url('../images/blue-wave.svg') no-repeat center/100% 100%;
	background-size: cover;
    background-position-y: bottom;
}

.bg-dark-wave {
	background: url('../images/dark-wave.svg') no-repeat center/100% 100%;
	background-size: cover;
    background-position-y: bottom;
}

.bg-white-wave {
	background: url('../images/white-wave.svg') no-repeat center/100% 100%;
	background-size: cover;
    background-position-y: bottom;
}

.venn-1 {
	background: url('../images/venn_1.svg') no-repeat center/100% 100%;
	background-size: cover;
    background-position-y: bottom;
}

.venn-2 {
	background: url('../images/venn_2.svg') no-repeat center/100% 100%;
	background-size: cover;
    background-position-y: bottom;
}

.before-pyramid {
	background: url('../images/before_pyramid.svg') no-repeat center/100% 100%;
	background-size: cover;
    background-position-y: bottom;
    width: 596px;
    height: 400px;
}

.stamp {
	text-transform: uppercase;
	border-width: 14px;
	-webkit-mask-image: url('../images/grunge.png');
  	-webkit-mask-size: 944px 604px;
  	mix-blend-mode: multiply;
}

@media (min-width: 640px) {
  	.before-pyramid {
	    height: 548px;
	}
	.try-bg {
		background-repeat: no-repeat;
	    background-size: cover;
	    background-image: linear-gradient(0deg, #000000d9, #000000d9), url('../images/try_bg.jpg');
	}
}

.after-pyramid {
	background: url('../images/after_pyramid.svg') no-repeat center/100% 100%;
	background-size: cover;
    background-position-y: bottom;
}

/* intl-tel-input overrides */
.iti {
	display: flex !important
}
.iti__flag-container {
	@apply text-gray-600 text-sm #{!important};
}
.iti__selected-flag {
	padding: 0 10px 0 20px !important;
}
.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
	padding-left: 70px !important;
}
.iti__country {
	@apply px-4 py-3 flex space-x-1 items-center #{!important};
}
.iti__country-list {
	@apply border border-transparent rounded-lg rounded-t-none h-36 w-60 shadow-none #{!important};
	background-color: #f2f2f2 !important
}
.iti__arrow {
	border-top: 4px solid #718193 !important
}
.iti__arrow--up {
	border-bottom: 4px solid #718193 !important;
	border-top: none !important
}
.iti__divider {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
	border-bottom: 1px solid #cad2de !important;
}
 
.book-container-0a01 {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
}

@keyframes initAnimation-0a01 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-23deg);
  }
}

.book-container-0a01 .book {
  width: 200px;
  height: 282px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-23deg);
  transition: transform 1s ease;
  animation: 1s ease 0s 1 initAnimation-0a01;
}

.book-container-0a01 .book:hover {
  transform: rotateY(0deg);
}

.book-container-0a01 .book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 282px;
  transform: translateZ(25px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: 5px 5px 20px #aaaaaa;
  background-color: #01060f;
}

.book-container-0a01 .book::before {
  position: absolute;
  content: ' ';
  left: 0;
  top: 3px;
  width: 48px;
  height: 276px;
  transform: translateX(172px) rotateY(90deg);
  background: linear-gradient(90deg, 
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
    );
}

.book-container-0a01 .book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 200px;
  height: 282px;
  transform: translateZ(-25px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: -10px 0 50px 10px #aaaaaa;
}

.ms-style.ms-style-override {
	font-family: "Effra" !important;
	color: #44403C !important;
}

.ms-style .ms-signup-container {
	border-radius: 10px !important;
	overflow: hidden !important;
}

.ms-style .ms-signup-header {
	padding-top:10px !important;
}

.ms-style .ms-signup-section {
	color: #44403C !important;
}

.ms-signup-h1 {
  opacity: 0;
  margin-bottom: -35px !important;
}

.ms-style .ms-signup-button {
	border-radius: 50px !important;
}

.ms-style .ms-signup-logo {
	max-height: 50px !important;
	max-width: 200px !important;
}

@import "plyr";
