<% content_for :title do %>
  Biometric Information Policy
<% end %>

<div class="bg-white">
  <div class="relative overflow-hidden">
    <div class="relative pt-6 pb-16 sm:pb-24">
      <%= render "layouts/nav" %>
      <div class="max-w-4xl mx-auto py-8 px-4">
        <section class="flex w-full mt-20 flex-wrap pb-6 mb-10 prose prose-xl mx-auto">
           <h2>Workforce Biometric Information Policy</h2>

          <p>Your employer uses employee management software provided by Tanda, Inc. d/b/a Workforce (“<strong>Workforce</strong>”). Workforce provides different platforms to your employer to manage its workforce: an online website, a mobile application and a Timeclock shared use device stationed at job sites.  You may have access to only some of these platforms or to all of them as decided by you and your employer. One service that Workforce may provide to your employer, and that you may be permitted or required to use, utilizes facial-recognition technology for personnel timekeeping.</p>

          <p>If your employer uses this service, you may be required to provide one or more photographs of yourself to Workforce (or your employer may provide the photographs of you on your behalf). Workforce will analyze the photographs and create a personal identifier for you based on your facial geometry. The Workforce mobile application or the Workforce Timeclock device stationed at your job site may take a photo of you every time you clock in or out. This data will be used by your employer to track your attendance for various reasons, including health and safety and payroll management.</p>
          <p>This policy explains how Workforce collects and uses, discloses, and stores Biometric Information. </p>

          <p><strong>PLEASE NOTE: Workforce acts as a service provider to your employer and collects your Biometric Information solely to provide services to your employer. This policy describes Workforce’s practices; not those of your employer. Your employer may collect Biometric Information under other circumstances (or engage other service providers to do so) and any such collection is not subject to this policy. Please ask your employer about its practices with regard to Biometric Information.</strong></p>

          <p class="-mb-4 mt-6"><strong><i>Legislation</i></strong></p>

          <p><strong>USA:</strong> The scan of your facial geometry, and the personal identifier that Workforce generates from that scan, may be considered a “biometric identifier” or “biometric information” as defined under Illinois’ Biometric Information Privacy Act (740 ILCS 14/1, et seq.), Texas’ law on the collection of biometric identifiers (Tx. Bus. & Comm. Code § 503.001), and other biometrics laws that may apply to you (“<strong>Biometric Information</strong>”). Note that photographs of you are not themselves considered Biometric Information. Where you merely submit a photograph of yourself when clocking in or out – but your employer does not utilize our facial-recognition features to analyze those photos – we are not collecting Biometric Information and this policy is not applicable.</p>

          <p><strong>Canada:</strong> The photo, the scan of your facial geometry, and the personal identifier that Workforce generates from that scan are considered personal information under Canadian privacy legislation. This Policy applies to all Canadian data as well. The personal information is stored outside Canada, in USA.</p>

          <p class="-mb-4 mt-6"><strong><i>Collection and Use</i></strong></p>

          <p>Workforce will provide you this notice and obtain your consent directly during the initial set up of your access to the Workforce online website (if invited by your employer) and of the Workforce mobile application on your device and obtain your consent to the collection and use of the Biometric Information. Workforce may rely on your employer to provide you notice and obtain your consent when your employer uses the Workforce online website to manage your information (without granting you access to it) and you use the <u>Workforce Timeclock device stationed at your job site.</u></p>

          <p class="-mb-4 mt-6"><strong><i>Disclosure</i></strong></p>

          <p>Workforce may disclose your Biometric Information to your employer in the normal course of providing its services. Workforce may also utilize third-party service providers to operate aspects of its software, including its timekeeping system. In such case, Workforce may disclose Biometric Information to the third-party service provider for the purposes of operating that system.  </p>

          <p>Except as specified above, Workforce will not disclose or share your Biometric Information unless:</p>

          <ul class='mx-8 mb-4 list-disc'>
            <li>It has obtained consent from you (or your legal representative); or</li>
            <li>The disclosure or sharing is required or permitted by law, including under a valid warrant or subpoena, or made to otherwise comply with our legal obligations or to defend our legal rights.</li>
          </ul>

          <p>Workforce will not authorize its service providers to disclose or share Biometric Information, except to their own service providers who are subject to similar restrictions on further disclosure or as otherwise permitted by applicable law (e.g., in response to a warrant or subpoena). Workforce will not sell, lease, trade, or otherwise profit from Biometric Information (beyond the compensation Workforce receives based on your employer’s use of its service). </p>

          <p class="-mb-4 mt-6"><strong><i>Retention & Storage</i></strong></p>

          <p>Unless otherwise required or prohibited by law, Workforce may keep your Biometric Information, as defined by applicable law, until (a) you are no longer employed by your employer (and Workforce is informed in writing that your employment has ended); (b) your employer permanently discontinues its use of Workforce’s services; or (c) three years after your last interaction with Workforce’s software – whichever comes first – after which Workforce will promptly delete any Biometric Information it has about you. Workforce will require any service provider receiving Biometric Information to permanently destroy that Biometric Information after the same time period.</p>

          <p>Workforce will take reasonable care in collecting, using, storing, and disclosing Biometric Information to prevent against unauthorized access, consistent with the way that it takes care with other similar confidential and personal information (and will require any Workforce service provider to take similar care).</p>

          <p class="-mb-4 mt-6"><strong><i>Contact Us</i></strong></p>

          <p>For any more information on any of our practices as related to the biometrics information, please contact us at <a href="mailto:privacy@workforce.com">privacy@workforce.com</a>.</p>

          <p>Please also see our Privacy Policy <%= link_to "here", privacy_policy_path %>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
