<% content_for :title do %>
  GDPR
<% end %>

<div class="bg-white">
  <div class="relative overflow-hidden">
    <div class="relative pt-6 pb-16 sm:pb-24">
      <%= render "layouts/nav" %>
      <div class="max-w-4xl mx-auto py-8 px-4">
        <section class="flex w-full mt-20 flex-wrap pb-6 mb-10 prose prose-xl mx-auto">
           <h1>General Data Protection Regulation (GDPR)</h1>
           
          <section>
            <h2>
                Workforce.com and the GDPR: Our commitment to our customers’ privacy
            </h2>
            <p>
                Workforce.com is committed to comply with and respect the General
                Data Protection Regulation (GDPR), which went into effect on the
                25th of May 2018. This regulation represents some of the most
                significant changes to privacy legislation in recent times. Its
                intent is to give European citizens more control over their
                personally identifiable information (PII).
            </p>
          </section>
          <section>
            <h2>What Workforce.com is doing</h2>
            <ul className="list list-disc">
              <li>
                  Upfront and ongoing audits of our third parties and
                  sub-contractors to assess what customer information they receive
                  and ensure they do not compromise our compliance status
              </li>
              <li>
                  Development of internal policy relevant to breach notification for
                  the various markets we operate within
              </li>
              <li>
                  Appointment of a privacy officer to ensure that these
                  matters are given priority internally as well as provide our
                  customers a point of contact for relevant issues
              </li>
              <li>
                  Engaged in an ongoing capacity with third party security auditors
                  to continually invest in our technical measures to both preempt
                  and prevent a breach of customer data
              </li>
              <li>
                  We’ve undertaken training led by privacy office to ensure
                  all arms of our business across our various offices are aware of
                  our obligations to you as a customer and how we might help you
                  with any concerns you may have
              </li>
              <li>
                  Deployed and maintained a separate set of technical infrastructure
                  in the European Economic Area
              </li>
            </ul>
          </section>
          <section>
            <h2>Security Measures</h2>
            <p> Below is a summary of security measures that Workforce uses to keep your data safe.</p>
            <ul className="list list-disc">
              <li>
                <b> Infrastructure & Network Security </b> - Workforce uses AWS hosting services to host the
                  platform across our EU, US and APAC based data centers and comply with industry best practice
                  for securing our application from external attacks
              </li>
              <li>
                <b> Application Security </b> - Workforce runs both automatic and manual security reviews of
                  the application source code which are checked for vulnerabilities and we employ a continuous
                  penetration testing protocol to discover and fix vulnerabilities in the application.
              </li>
              <li>
                <b> Identify & Access Management </b> - Workforce ensures access to the system is restricted
                  to individuals with the correct level of access and implements a strong password policy as
                  well as two factor authentication, both internally and externally to our clients.
              </li>
              <li>
                <b> Security Monitoring </b> - Workforce has implemented a monitoring system that logs and
                  reports suspicious activity on the platform. Suspected or reported incidents are
                  investigated by security personnel and appropriate steps are taken to minimize damage
                  or unauthorised disclosure.
              </li>
              <li>
                <b> Governance, Risk & Compliance </b> - Workforce has implemented a governance process
                  which includes periodic audits and risk assessments. We also maintain a SOC2 certification
                  and comply with audit and governance procedures under that framework.
              </li>
            </ul>
          </section>
          <section>
            <h2>Subprocessor Information</h2>
            <p>Workforce.com currently uses third-party Subprocessors to provide our service and support our customers. Before engaging any Subprocessor, Workforce.com evaluates their privacy, security, and confidentiality practices, and executes an agreement implementing it's applicable obligations.</p>
            <p>This section contains information about the identity, role, and location of each Subprocessor.</p>
          </section>
        </section>
        <div class="flex flex-col max-w-3xl mx-auto -mt-10">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                        Entity Name
                      </th>
                      <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                        Subprocessing Activity
                      </th>
                      <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                        Data Location
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="bg-gray-50">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Amazon Web Services
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Hosting Services
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Germany or Australia
                      </td>
                    </tr>
                    <tr class="bg-gray-50">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        EPI Capital Pty Ltd (t/a Tanda)
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Software Development & Support
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Australia
                      </td>
                    </tr>
                    <tr class="bg-gray-50">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Workforce.com Inc
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Software Development & Support
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-gray-50">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Twilio
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        SMS Gateway
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-gray-50">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Mandrill
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Email
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-white">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Google Workspace
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        File hosting
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Australia
                      </td>
                    </tr>
                    <tr class="bg-white">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Atlassian
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Project Management & Monitoring
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Australia
                      </td>
                    </tr>
                    <tr class="bg-white">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        PG Analyze
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Database Performance Analysis
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-white">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Mailtrap
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Email Testing
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                     <tr class="bg-white">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Github
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Version Control
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-gray-50">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Intercom
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Livechat, email, help site
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-white">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Salesforce
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        CRM
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Japan
                      </td>
                    </tr>
                      <tr class="bg-white">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Workplace
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Internal Messaging
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        USA
                      </td>
                    </tr>
                    <tr class="bg-white">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Ask Nicely
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        NPS software
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-gray-50">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Zapier
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Integration software
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-white">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Logentries
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Product usage logging software
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-gray-50">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        TalkDesk
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Call centre software
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-white">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Gong
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Meeting recording software
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-white">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Dekra
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Customer support services
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Croatia
                      </td>
                    </tr>
                    <tr class="bg-white">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Tanda Workforce Solutions
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Customer support services
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Philliphines
                      </td>
                    </tr>
                    <tr class="bg-white">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Chargebee
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Customer Billing
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-gray-50">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Go Cardless Limited
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Payment processing
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-white">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Xero
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Accounting (Billing contacts only)
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Australia
                      </td>
                    </tr>
                    <tr class="bg-gray-50">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Metabase
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Event analysis
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-gray-50">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Grafana
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        System Analytics
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-gray-50">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Amplitude
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Product Usage Analytics
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                    <tr class="bg-gray-50">
                      <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-700">
                        Elando
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        Machine Learning
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                        United States
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
