<% content_for :title do %>
  Privacy Policy
<% end %>
<% content_for :description do %>
 Privacy Policy for Workforce.com
<% end %>

<div class="bg-white">
  <div class="relative overflow-hidden">
    <div class="relative pt-6 pb-16 sm:pb-24">
      <%= render "layouts/nav" %>
      <div class="max-w-4xl mx-auto py-8 px-4">
        <section class="flex w-full mt-10 flex-wrap pb-6 mb-10 prose prose-xl mx-auto">
          <section>
             <h1 class="mt-8 text-blue-dark">Welcome to the Workforce Platform Privacy Policy for North America</h1>
             <p>Last updated November 2020</p>
             <ul class="mx-8 my-4">
                <li>Workforce.com Inc</li>
                <li>150 N. Michigan Ave. Floor 5</li>
                <li>Chicago, IL</li>
                <li>60601</li>
                <li>Email: <a href="mailto:privacy@workforce.com" class="link link__blue">privacy@workforce.com</a></li>
                <li>Phone: <a href="tel:8318884696" class="link link__blue">831 888 4696</a></li>
             </ul>
             <a href="/eu/privacy-policy" class=" text-blue-dark">
                <h2 class="mt-8 link link__arrow">Workforce International Privacy Policy</h2>
             </a>
             <p>Workforce.com (“We”, “us”, “our”, “Workforce”) is a group of affiliated companies (“Affiliates”) operating in USA, Australia and United Kingdom through a number of entities based in Chicago, London and Brisbane, offering workforce  management solutions and services through various applications. </p>
             <p>The Workforce.com web based application and the employee timekeeping applications (mobile application and wall clocks), (collectively named the “Platform”) allow employers to more easily collect accurate data on hours worked and manage shift scheduling, and streamline the process for employees to clock in and out of shifts. </p>
             <p>The Workforce.com application is web based and depending on the territory it is accessed from, may be called Workforce or Tanda and accessed via <a href="https://my.workforce.com/login" class="link link__blue">https://my.workforce.com/login</a> or <a href="https://my.tanda.co/login" class="link link__blue">https://my.tanda.co/login.</a> </p>
             <p>We invite you to explore this webpage and learn more about privacy at Workforce.com</p>
             <div class="mt-8 flex">
                <h3 class="font-bold text-lg">Workforce.com Privacy Statement for Website Visitors and other individuals we interact with</h3>
             </div>
             <section>
                <section>
                   <p class="font-bold">Collection and use of Personal Data</p>
                   <p>If you are a Visitor to  www.workforce.com (“Website”) this section applies to you. </p>
                   <div>
                      <p><i>Technical information.</i></p>
                      <p>When you visit our Website, the system automatically records data and information about your computer each time the Website is accessed. The following data (“technical information”) is collected:</p>
                      <ul class="mx-8">
                         <li>Information on the browser type and version used</li>
                         <li>Device operating system</li>
                         <li>Device IP address</li>
                         <li>Date and time of access</li>
                         <li>Websites from which the user’s system accesses our website </li>
                         <li>Websites accessed by the user’s system via our website</li>
                         <li>The respective volume of data transmitted</li>
                      </ul>
                      <div>
                         <p>The data is also saved in our system’s log files. This data is not stored together with other personal data of the user.</p>
                         <p>We collect and use this technical information for purposes of (network) security (for example, to ward off cyberattacks), to better understand our users’ needs, to continuously improve our website and to enable users to access the website from their computers.</p>
                         <p>We collect this personal data under the legal basis in section 6(1)(f) of the GDPR, legitimate interest.</p>
                      </div>
                   </div>
                   <div>
                      <p><i>Voluntary submission of personal data</i></p>
                      <p>We also collect and process any personal data that you provide to us in our Website’s forms, such as when you request a demo or consent to marketing communications or download a whitepaper.</p>
                      <p>Collected personal data includes your first and last name, your email address, your business telephone number, your job title, your country, your industry, your employer, number of staff in your business.</p>
                      <p>We use the collected data for the following purposes:</p>
                      <ul class="mx-8">
                         <li>to communicate with the visitors requesting further information and services, </li>
                         <li>to deliver the service being requested (whitepaper, demo etc),</li>
                         <li>to understand how our visitors are interested in our products and optimize the services offered,</li>
                         <li>to improve the Website and safeguard our information technology systems.</li>
                         <li>to set up the company user account</li>
                         <li>to send marketing information. You may unsubscribe at any time by clicking the “unsubscribe” link in our emails to you or by emailing us at <a href="mailto:privacy@workforce.com" class="link link__blue">privacy@workforce.com</a>.</li>
                      </ul>
                   </div>
                   <div>
                      <p><i>Other individuals</i></p>
                      <p>We may also collect public information about individuals from social media sites and any other publicly available directories and sites. We use this information as stated in this Privacy Policy.</p>
                      <p>We may collect information through marketing events, such as conferences and trade shows. The personal data collected may include names, companies, industry, email addresses, telephone numbers and interests.</p>
                      <p>We use this information for marketing activities as permitted by the legislation applicable to the individuals’ jurisdiction. </p>
                   </div>
                </section>
                <section>
                   <p class="font-bold">Personal Information Location</p>
                   <p>We are a US based entity and all of the personal information collected is processed and stored in our US servers. </p>
                   <p>Workforce has implemented commercially reasonable and appropriate technical, physical, and organizational measures to protect employee and client data from misuse or accidental, unlawful, or unauthorized destruction, loss, alteration, disclosure, acquisition, or access during the processing, which will meet the requirements of the Applicable Law, or any stricter requirements, as imposed under the Service Agreement.</p>
                </section>
                <section>
                   <p class="font-bold">Retention of the Personal Data</p>
                   <p>We hold the personal data for as long as there is a business need or regulatory requirement. In deciding the period for which we will hold the personal data, we take into account the following:</p>
                   <ul class="mx-8">
                      <li>How long has been since our relationship with the individual ended,</li>
                      <li>Whether we have a reasonable expectation that the individual would need to contact us in relation to previous purchases or previous interactions, and</li>
                      <li>The regulatory requirements applicable to the information and business process for which it was used</li>
                   </ul>
                   <p>Once the retention time is over, we dispose of the personal data in a safe and permanent way.</p>
                </section>
                <section>
                   <p class="font-bold">Sharing your personal data</p>
                   <p>We may share the personal data with third parties to support our delivery of services and products to our clients, maintain our website and protect our systems, operations and overall business.</p>
                   <p>We share data with the following categories of third parties:</p>
                   <ul class="mx-8">
                      <li>Service providers - third parties providing the following categories of services:</li>
                      <ul class="mx-8 list-circle">
                         <li>web hosting services</li>
                         <li>web analytics</li>
                         <li>targeted advertising</li>
                      </ul>
                      <li>Affiliates - our affiliates may receive your personal data for reporting and market analysis purposes. </li>
                   </ul>
                   <p>We have contracts with service providers and a data sharing agreement with our affiliates to instruct and set rules on data use.</p>
                   <p>Personal data may also be transmitted to third countries or international organisations as part of this. For your protection and the protection of your personal data, we set data protection rules in contractual agreements with third parties and affiliates. </p>
                   <p>In some circumstances we are legally obliged to share the information, for example under a court order. Before sharing the information, we will satisfy ourselves that the disclosure request complies with required legislation and document our decision making.</p>
                </section>
                <section>
                   <p class="font-bold">Cookies</p>
                   <p>Cookies are small pieces of information sent by a website or application to a visitor’s computer. We will ask for your consent to use non-essential cookies. If you choose not to accept our cookies, we cannot guarantee that your website experience will be as fulfilling as it would otherwise be. We may also place cookies from third parties for functional and marketing purposes. For further information, see the Cookie Policy. </p>
                </section>
                <section>
                   <p class="font-bold">Links to other sites</p>
                   <p>Please be aware that while visiting our website/websites you may follow links to other sites or services that are beyond our sphere of influence. We are not responsible for the content or for their collection and use of your personal information. Consult their Privacy Policies and Terms and Conditions prior to using their services. </p>
                </section>
                <section>
                   <p class="font-bold">Sales of Personal Information</p>
                   <p>We do not sell your personal information. </p>
                </section>
                <section>
                   <p class="font-bold">CONTACT INFORMATION</p>
                   <p>If you have any questions about this Privacy Policy, or more information about our privacy practices, please contact us at <a href="mailto:privacy@workforce.com" class="link link__blue">privacy@workforce.com</a></p>
                   <p>You have the right to complain to regulatory authorities in your jurisdiction.</p>
                   <p>For individuals from Canada, the applicable regulatory authority is the Office of the Privacy Commissioner of Canada. Further details on how to contact them are here https://www.priv.gc.ca/en/report-a-concern/</p>
                </section>
             </section>
             <div class="mt-8 flex">
                <h3 class="font-bold text-lg">Our Privacy Statement for users of the Platform</h3>
             </div>
             <section>
                <p>This Privacy Policy applies to the Workforce.com Platform and any information we collect pertaining to your use of the Platform, which may be accessed through our website, my.workforce.com or my.tanda.co, our mobile applications or through other online services, such as an application on an employer’s device (collectively, the “Platform”).</p>
                <p>Workforce. com Inc (“Workforce”) has different types of users to our Platform, including employers and employees. This Privacy Policy explains the data we collect, and how we use and share it.</p>
                <p>Note that Workforce is acting as a service provider for employers and does not collect or use information collected through the Platform for its own purposes. Employers are responsible for their own privacy practices and for providing notice and obtaining consent for their collection and use of employee data.</p>
                <p>Please also review the Terms of Use which govern your use of the Platform. Please note that certain features or services discussed in this Privacy Policy may not be offered through the Platform at all times.</p>
                <ul class="mt-4">
                   <li><a href="#1" class="link link__blue">INFORMATION WE COLLECT</a></li>
                   <li><a href="#2" class="link link__blue">HOW WE USE INFORMATION</a></li>
                   <li><a href="#3" class="link link__blue">HOW WE SHARE INFORMATION</a></li>
                   <li><a href="#4" class="link link__blue">THIRD PARTY ANALYTICS COMPANIES AND SIMILAR THIRD PARTIES </a></li>
                   <li><a href="#5" class="link link__blue">SECURITY</a></li>
                   <li><a href="#6" class="link link__blue">THIRD PARTY LINKS AND CONTENT</a></li>
                   <li><a href="#7" class="link link__blue">USERS RESIDING OUTSIDE OF THE UNITED STATES AND CONSENT TO TRANSFER</a></li>
                   <li><a href="#8" class="link link__blue">IF YOU ARE LOCATED IN CANADA</a></li>
                   <li><a href="#9" class="link link__blue">CALIFORNIA RESIDENTS YOUNGER THAN 18</a></li>
                   <li><a href="#10" class="link link__blue">YOUR CHOICES</a></li>
                   <li><a href="#11" class="link link__blue">RETENTION OF INFORMATION</a></li>
                   <li><a href="#12" class="link link__blue">CHANGES TO THIS PRIVACY POLICY</a></li>
                   <li><a href="#13" class="link link__blue">CONTACT INFORMATION</a></li>
                </ul>
                <section id="1" class="pt-32 -mt-24">
                   <p class="font-bold">INFORMATION WE COLLECT</p>
                   <p>We collect information in order to provide our Platform and services, including from employers and managers/administrators (collectively, “Employers”) and their employees (“Employees”) (jointly, “Users” or “you”). Note that if you are an Employee, your Employer will have access to the information we collect from and about you as you use the Platform.</p>
                   <p>We collect information from Users directly, automatically when you visit the Platform, and sometimes from third parties such as a payroll system. We also collect information about Employees from Employers. </p>
                   <p>The information we collect includes:</p>
                   <ul class="mx-8">
                      <li>your name and contact information,</li>
                      <li>information regarding your employment, </li>
                      <li>your photograph, when you clock in and out, and </li>
                      <li>your location when you do so.</li>
                   </ul>
                   <p>Some of the information we collect is considered “personal information” under various applicable laws. </p>
                   <p>We consider information that identifies you as a specific, identified individual to be personal information (such as contact information), and we treat additional information, including IP addresses and cookie identifiers, as “personal information” where required by applicable law. And, if we combine information we consider to be non-personal with personal information, we will treat that combined information as personal information under this Privacy Policy and as required by law. </p>
                   <p>Note that we may de-identify personal information so that it is non-personal, such as aggregating it or converting it to a code, sometimes using a function commonly known as a “hash”. We will treat de-identified information as non-personal, and may use or disclose such non-identifying, non-personal information for any purposes that we deem appropriate, to the fullest extent allowed by applicable law</p>
                   <p>Our Platform is intended for a general audience and not intended for use by or targeted to minors younger than the age of 13. We do not knowingly collect personal information from minors younger than the age of 13.</p>
                   <div>
                      <p class="font-bold">We collect information in the following ways:</p>
                      <p><i>Information You or Your Employer Give Directly To Us</i></p>
                      <p>You may provide us with information about yourself or other people in your company, such as contact information (names, postal address, email address, telephone number, demographic information (gender, date of birth or similar information), employment-related information (Employee IDs, ID photos, employment location, hours worked, time and location information at the time of clocking in/out for work and breaks, employment certifications) and certain financial information, such as if we provide payroll support to your Employer.</p>
                      <p>Employees provide us with their photographs when using the Platform to clock in and out of shifts or to log breaks. Under some circumstances, the photographs may be considered biometric identifiers under applicable law. We also collect payment and billing information for the payment of Platform fees.</p>
                      <p>We collect any information you provide through Platform features that permit you to upload files or input information like when Employees submit time off requests or Employers submit injury or incident reports. In some instances this may include information about an Employee’s health or well-being.</p>
                      <p>If you are an Employee using the Platform, your Employer or your manager may provide us with this information about you. If you disclose any personal information relating to other people to us, you represent that you have the authority to do so and to permit us to use the information in accordance with this Privacy Policy.</p>
                   </div>
                   <div>
                      <p><i>Location information</i></p>
                      <p>When you use the Workforce Platform, we may collect and process information about your specific location through our mobile application(s). For certain features of the Platform, collection of information about the device you are using is necessary for the features to function.</p>
                      <p>Location permissions are tied to an individual device. If you are sharing a device with another person from your company, they may have already opted in to collection of location information. You can change location permissions by checking the settings on the device, however your Employer may require that location information collection be enabled on the device you use to access the Platform.</p>
                      <p>We use various technologies to determine location, including IP address and GPS</p>
                      <p>You may be able to turn off the collection of location information through the settings on your device. However, please note that we may still be able to collect or infer your approximate location through other information we collect, such as IP address.</p>
                   </div>
                   <div>
                      <p><i>Information We Get Automatically from Use of our Platform.</i></p>
                      <p>We and our third party business partners (including any third party analytics providers) may use a variety of technologies that automatically or passively collect certain information about your use of the Platform whenever you visit or interact with the Platform (“Usage Information”).</p>
                   </div>
                   <p>Usage Information may include:</p>
                   <ul class="mx-8">
                      <li>Device information: We collect device-specific information (such as your hardware model, browser, operating system version, and unique device identifiers). Workforce may associate your device identifiers with your individual Workforce account (“Account”) and your company’s Workforce Account.</li>
                      <li>Log information: When you use our Platform or view content provided by Workforce, we automatically collect and store certain information in server logs. This includes:</li>
                      <ul class="mx-8 list-decimal">
                         <li>details of how you used our service and all areas within ourPlatform that you visit, such as which features you use and the actions you took within those features.</li>
                         <li>Internet protocol address or other unique identifier (“Device Identifier”) for your computer, mobile phone, or other device used to access the Platform.</li>
                         <li>device event information such as crashes, system activity, hardware settings, browser type, browser language, the date and time of when you interact with the Platform, and the URL or advertisement that referred you to the Platform, the search terms you entered into a search engine that led you to our Platform.</li>
                         <li>cookies that may uniquely identify your browser or your individual Workforce Account.</li>
                      </ul>
                   </ul>
                   <p>The methods used to collect Usage Information may include the following:</p>
                   <div>
                      <p><i>Local Storage.</i> </p>
                      <p>We may collect and store information (including personal information) locally on your device using mechanisms such as browser web storage (including HTML 5) and application data caches.</p>
                   </div>
                   <div>
                      <p><i>Cookies and Log Files.</i> </p>
                      <p>Cookies are small data files placed on a device when it is used to access the Platform or otherwise access our online content. We use both session and persistent cookies (which remains on your computer after the browser has been closed). Cookies may be used for many purposes, including, without limitation, remembering you and your preferences and tracking your visits to the Platform. You can find more information about cookies and how they work at www.allaboutcookies.org.</p>
                      <p>If you choose to disable cookies, or to otherwise restrict local storage, some features of the Platform may not function properly.</p>
                   </div>
                   <div>
                      <p><i>Web Beacons.</i> </p>
                      <p>We may use web beacons (small graphic images or other web programming code, also known as „1x1 GIFs„ or „clear GIFs„ or “pixel tags”) and similar technologies on our Platform and within our communications to you. </p>
                      <p>Web beacons can recognize certain types of information on your computer such as cookies, the time and date a page is viewed, and a description of the page where the web beacon is placed. </p>
                      <p>Web beacons or similar technologies may be used for a number of purposes, such as to count visitors to the Platform, to monitor how users navigate the Platform, to count how many emails that were sent were actually opened or to count how many particular links were actually viewed and to improve your experience on the Platform. </p>
                      <p>Our web beacons may collect some contact information (for example, the email address associated with an email message that contains a web beacon).</p>
                   </div>
                   <div>
                      <p><i>Embedded Scripts.</i></p>
                      <p> An embedded script is programming code that is designed to collect information about your interactions with the Platform, such as the links you click on. </p>
                      <p>The code is temporarily downloaded onto your device from our web server or a third party service provider, is active only while you are connected to the Platform, and is deactivated or deleted thereafter.</p>
                      <p>In addition, we may use other technologies that collect similar information for security and fraud detection purposes.</p>
                   </div>
                   <div>
                      <p><i>Information Provided by Third Parties</i></p>
                      <p>We may receive information about you from third parties, including from your Employer, as discussed above. </p>
                      <p>We may also supplement the information we collect with outside records, such as public databases and publicly available social media pages. </p>
                      <p>We may combine the information we receive from third parties with information we collect through the Platform. In those cases, we will apply this Privacy Policy to the combined information. Note that any information you provide directly to a third party is subject to the third party’s privacy practices and policies.</p>
                   </div>
                   <div>
                      <p><i>User Content Submissions</i></p>
                      <p>The Platform may allow you to upload, submit, store, send, or receive content through the Platform (“User Content”). Any User Content you submit is subject to our Terms of Use Note that anything you choose to post through the Platform may be accessible to your Employer and other users within your organization —others will have access to your User Content and may share it with third parties. If you choose to voluntarily disclose personal information, that information may be considered public information and the protections of this Privacy Policy will not apply subject to applicable law. We cannot control or be held responsible for how third parties may view use or further share User Content.</p>
                      <p>If you submit User Content by any means, unless we otherwise state, the User Content may be used by Workforce as set forth in our Terms of Use</p>
                   </div>
                   <div>
                      <p><i>Social Media Interactions</i></p>
                      <p>The Platform may permit or facilitate interactions with an interactive third-party website or service („Social Media„), such as enabling you to „like„ or „share„ content. If you choose to share content or otherwise post information from or via the Platform to Social Media, that information may be public and the third party may have access to information about you and your use of our Platform. </p>
                      <p>You may also choose to participate on Social Media in a way that connects that third-party service with our Platform, such as posting to one of our pages on a Social Media Platform. Doing so may allow us to collect (or the third party to share) information about you, including Personal Information, and the third party may allow us to re-post content related to us on our own Platform.</p>
                      <p>We may also receive information about you if other users of Social Media give us access to their profiles and you are one of their connections or „friends„. The information we collect is subject to this Privacy Policy. The information collected and stored by the third party remains subject to the third party‘s privacy practices, including whether the third party continues to share information with us, the types of information shared, and your choices with regard to what is visible to others on that third-party website or service. The third party may allow you to remove the application or feature, in which case we will no longer collect information about you through the application or feature, but may retain the information previously collected.</p>
                   </div>
                </section>
                <section id="2" class="pt-32 -mt-24">
                   <p class="font-bold">HOW WE USE INFORMATION</p>
                   <p>Workforce may use information collected through the Platform (including your Personal Information and Usage Information) in order to: </p>
                   <ul class="mx-8 list-none">
                      <li>(1) provide the Platform and related services; </li>
                      <li>(2) to personalize and improve your user experience and the overall quality of our Platform, for example, by integrating your work <%= schedule %> into your device’s calendar or validating the location you clock in from; </li>
                      <li>(3) process information you provide via your account registration with the Platform, including verifying that your email address is active and valid; </li>
                      <li>(4) process payments; </li>
                      <li>(5) provide customer service, including by keeping a record of your communication to help solve any issues you might be facing; </li>
                      <li>(6) communicate with you about our products and services (including marketing messages and phone calls and transactional messages regarding your use of our Platform (such as providing shift schedules, letting you know about upcoming changes or improvements, responding to you when you contact us, or other administrative communications, including, in our discretion, changes to our Privacy Policy, Terms of Use, or any of our other terms or policies); </li>
                      <li>(7) to protect Workforce, our Platform, and our users from errors, misuse of the Platform, fraud, or any criminal activity and to detect and troubleshoot problems, resolve disputes, and enforce applicable agreements and policies for the Platform; (8) to provide you with offers that we think may interest you, including third party offers and information about additional Workforce goods and services; </li>
                      <li>(9) for internal business purposes, such as to improve our Platform; </li>
                      <li>(10) for internal analysis, research and similar internal business purposes; or </li>
                      <li>(11) as otherwise disclosed to you or with your consent.</li>
                   </ul>
                </section>
                <section id="3" class="pt-32 -mt-24">
                   <p class="font-bold">HOW WE SHARE INFORMATION</p>
                   <p>Workforce may share non-personal information, such as Usage Information, aggregated, or de-identified user statistics, with third parties in our discretion. </p>
                   <p>We do not share personal information with unaffiliated third parties for those third parties’ own direct marketing purposes. </p>
                   <p>We may share information we have collected about you, including personal information, as disclosed at the time you provided your information or otherwise with your consent, and in the following circumstances:</p>
                   <div>
                      <p><i>With your Employer and Associated Workforce Accounts.</i></p>
                      <p>Note that our relationship is with the Employer. If your Employer has set up an account for you or otherwise granted you access, your Employer will have access to the information we collect, including when you clock in and clock out of work, your location, and other ways you use the Platform. In addition, if you are an Employer, we share information we collect from you or your Employees who use the Platform with other users associated with your business’ Workforce Account in accordance with the access permissions associated with each Account.</p>
                   </div>
                   <div>
                      <p><i>Third Parties Providing Services on our Behalf</i></p>
                      <p>We may share information with third parties who perform services on our behalf, such as website hosting, sending email or other communications, processing payments, and performing other services. We have contractual obligations in place to instruct the third parties how to use, protect and share the personal information. </p>
                      <p>We may provide access to your personal information to such service providers in order for them to perform these services.</p>
                   </div>
                   <div>
                      <p><i>To Third Parties at an Employer’s Direction</i></p>
                      <p>We act as a service provider to Employers, who determine how they use and share the personal information collected from Employees. We will share personal information with an Employer’s legal, accounting, financial or other professional advisors if the Employer uses features of the Platform that facilitate this sharing or if the Employer instructs us to share the information with its advisors or other third parties.</p>
                   </div>
                   <div>
                      <p><i>For Administrative and Legal Reasons.</i></p>
                      <p>We will share personal information with companies, organizations or individuals outside of Workforce if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to: meet any applicable law, regulation, legal process or enforceable governmental request; verify or enforce applicable Terms of Use or similar policies, including investigation of potential violations; detect, prevent, or otherwise address fraud, security or technical issues; and protect against harm to the rights, property or safety of Workforce, our users or the public, such as for fraud prevention. </p>
                      <p>We may also use Device Identifiers to identify users, and may do so in cooperation with copyright owners, Internet service providers, wireless service providers, or law enforcement agencies, in our discretion.</p>
                   </div>
                   <div>
                      <p><i>Within Our Affiliated Companies.</i></p>
                      <p>We may share your information with our affiliates and subsidiaries for business, analytical, and operational purposes. We have a data sharing agreement in place which outlines the rules for using and protecting the shared personal information. </p>
                   </div>
                   <div>
                      <p><i>Business Transfers.</i></p>
                      <p>In the event Workforce is involved in a transition such as being sold, having all or a portion of its assets acquired or transferred, whether voluntary or involuntary (such as through bankruptcy), or any mergers, acquisition or asset sale (including, without limitation, during the course of any due diligence process), any customer information owned or under the control of Workforce will likely be one of the transferred assets. </p>
                      <p>We reserve the right, as a part of this type of transaction, to assign or otherwise transfer your information and other information we have collected from users of the Platform. By providing your personal information, you agree that we may transfer such information to the acquiring entity without your further consent.</p>
                   </div>
                </section>
                <section id="4" class="pt-32 -mt-24">
                   <p class="font-bold">THIRD PARTY ANALYTICS COMPANIES AND SIMILAR THIRD PARTIES</p>
                   <p>Workforce works with analytics partners, service providers, and other vendors to provide us with information regarding traffic on and use of the Platform (including pages viewed and the actions taken when visiting the Platform).</p>
                   <p>These third parties may set and access their own tracking technologies on your device (including cookies and web beacons) and may otherwise collect or have access to information about you, including Usage Information. Some of these parties may collect personal information over time when you visit the Platform.</p>
                   <p>One analytics provider with whom we may work is Google Analytics. Google Analytics uses cookies and similar technologies to collect and analyze information about use of the Site and report on activities and trends. This service may also collect information regarding the use of other websites, apps, and online resources. You can learn about Google‘s practices by going to google.com/policies/privacy/partners, and opt out of them by downloading the Google Analytics opt-out browser add-on, available at tools.google.com/dlpage/gaoptout.</p>
                </section>
                <section id="5" class="pt-32 -mt-24">
                   <p class="font-bold">SECURITY</p>
                   <p>Workforce uses commercially reasonable security measures to help secure your personal information. However, no system can be guaranteed 100% secure. We therefore cannot ensure or warrant the security of any information that you transmit to us, or that we transmit to you, or guarantee that it will be free from unauthorized access by third parties.</p>
                </section>
                <section id="6" class="pt-32 -mt-24">
                   <p class="font-bold">THIRD PARTY LINKS AND CONTENT</p>
                   <p>This Privacy Policy only applies to the Platform. The Platform may link to or incorporate websites or content hosted and served by third parties over which we have no control and which are governed by the privacy policies and business practices of those third parties. </p>
                   <p>Our Privacy Policy does not apply to your interactions with other companies or individuals, including sites that may include the Platform, or other sites linked from our Platform. Workforce is not responsible for the privacy practices or business practices of any third party.</p>
                </section>
                <section id="7" class="pt-32 -mt-24">
                   <p class="font-bold">  USERS RESIDING OUTSIDE OF THE UNITED STATES AND CONSENT TO TRANSFER</p>
                   <p>Workforce is a United States company and we operate the Platform from the United States. If you are located outside the United States, please be aware that information we collect will be transferred to and processed in the United States or other jurisdictions around the world. </p>
                   <p>By using the Platform, or providing us with any information, you fully understand and unambiguously consent to this transfer, processing and storage of your information in the United States and other jurisdictions. </p>
                   <p>In certain circumstances, your personal information may also be subject to access by and disclosure to law enforcement agencies under applicable foreign legislation.</p>
                </section>
                <section id="8" class="pt-32 -mt-24">
                   <p class="font-bold">IF YOU ARE LOCATED IN CANADA</p>
                   <p>Our privacy practices for Canadian Users are guided by the provisions of the Personal Information Protection and Electronic Documents Act (PIPEDA).</p>
                   <p>For details on what type of personal information we collect, purposes of collection, how we protect and share the personal information, please see the sections above.</p>
                   <p>Canadians have the following rights under PIPEDA:</p>
                   <ul class="mx-8 list-none">
                      <li>- Right to be informed as to what personal information is collected, how it is used and shared or disclosed</li>
                      <li>- Right to access their personal information</li>
                      <li>- Right to challenge the accuracy and completeness of the personal information and be corrected</li>
                   </ul>
                   <p>The Platform is hosted in the United States and your personal information is transferred to our servers located in various availability zones within the USA territory. We may also transfer your personal information to our service providers and affiliates within the USA or outside North America, under contractual obligations to safeguard the personal information to the same level of protection afforded by PIPEDA.</p>
                   <p>If you wish to obtain more information about our privacy practices or if you wish to exercise any of your rights, please contact us at <a href="mailto:privacy@workforce.com" class="link link__blue">privacy@workforce.com</a>.</p>
                   <p>Additionally, you may contact our HQ directly to the address and phone number at <a href="https://www.workforce.com/contact-us" class="link link__blue">https://www.workforce.com/contact-us</a>.</p>
                   <p>You may also contact the Office of the Privacy Commissioner of Canada (www.priv.gc.ca) to submit your concerns regarding this Privacy Policy or our privacy practices.</p>
                   <p>We confirm that it is our wish that this Privacy Policy, the Terms of Use, and all other related policies be drawn up in English. Vous reconnaissent avoir exigé la rédaction en anglais du présent document ainsi que tous les documents qui s‘y rattachent.</p>
                </section>
                <section id="9" class="pt-32 -mt-24">
                   <p class="font-bold">CALIFORNIA RESIDENTS YOUNGER THAN 18</p>
                   <p>If you have created an account on the Platform, you may request that we remove content or information that you have publicly posted by sending an email message to <a href="mailto:privacy@workforce.com" class="link link__blue">privacy@workforce.com</a> that includes: your Name and email address and a detailed description of the content or information.</p>
                   <p>At our option, we may either remove your personal information (and not other content) or remove all of the content and information, subject to legal requirements and exceptions.</p>
                </section>
                <section id="10" class="pt-32 -mt-24">
                   <p class="font-bold">YOUR CHOICES</p>
                   <p>Employers can contact us at <a href="mailto:privacy@workforce.com" class="link link__blue">privacy@workforce.com</a> to correct or update personal information provided to us through the Platform. If you are using the Platform as an Employee, please contact your Employer to request changes to information.</p>
                   <p>You may have the opportunity to opt in to receive marketing or Platform related emails, text messages, and/or push notifications. You can unsubscribe from marketing emails by following the instructions within one of our marketing emails. Note, however, that if you opt-out of receiving marketing emails, we still reserve the right to send you certain email communications relating to your account or use of the Platform, such as administrative and service announcements (e.g., account verification, change or updates to features of the Platform, technical and security notices, notices of changes to this Privacy Policy or applicable Terms of Use or similar administrative or transactional messages).</p>
                   <p>If you sign up to receive recurring SMS or MMS messages that may be offered through the Platform, you may unsubscribe from any text messages received by replying “STOP.”</p>
                   <p>If you access your user account through our mobile application(s), we may send push notifications to your device, and may in some cases do so based on your device’s physical location. You may opt-out of receiving these at any time by turning push notifications off in your device settings. Push notification preferences are tied to a specific device, not an individual Workforce Account.</p>
                </section>
                <section id="11" class="pt-32 -mt-24">
                   <p class="font-bold">RETENTION OF INFORMATION</p>
                   <p>We retain your personal data while you have an account with us and while you continue to use the Platform.</p>
                   <p>We will retain your personal data for as long as it is reasonably necessary for the purposes set out in this Privacy Policy, considering the time period reasonably necessary to provide the Platform and services; exercise any choice or right you may have; comply with our contractual obligations; enforce our terms for use of the Platform; and comply with legal and regulatory requirements.</p>
                </section>
                <section id="12" class="pt-32 -mt-24">
                   <p class="font-bold">CHANGES TO THIS PRIVACY POLICY</p>
                   <p>To the extent allowed by applicable law, Workforce may update or supplement this Privacy Policy from time to time.</p>
                   <p>We will notify you of material changes by posting the changed or modified Privacy Policy on the Platform. Any changes will be effective upon posting unless otherwise indicated.</p>
                   <p>We may also notify you in other ways, such as by email, at our discretion. Your continued use of the Platform after the effective date of the revised Privacy Policy (or other act as specified in the revised Privacy Policy) will constitute your consent to those changes to the fullest extent allowed by applicable law. In the event that there are material changes to the way we treat previously collected personal information, we will provide notice and obtain your consent (opt-in or opt-out), if required by law.</p>
                   <p>Note that you may need to consent to our new policy in order to continue to use the Platform.</p>
                </section>
                <section id="13" class="pt-32 -mt-24">
                   <p class="font-bold">CONTACT INFORMATION</p>
                   <p>If you have any questions about this Privacy Policy, or more information about our privacy practices, please contact us at <a href="mailto:privacy@workforce.com" class="link link__blue">privacy@workforce.com</a></p>
                </section>
             </section>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>
