<% content_for :title do %>
  Terms & Conditions
<% end %>
<% content_for :description do %>
   Terms & Conditions for Workforce.com UK
<% end %>

<div class="bg-white">
  <div class="relative overflow-hidden">
    <div class="relative pt-6 pb-16 sm:pb-24">
      <%= render "layouts/nav" %>
      <div class="max-w-4xl mx-auto py-8 px-4">
        <section class="flex w-full mt-20 flex-wrap pb-6 mb-10 prose prose-xl mx-auto">
           <h1>Workforce.com Terms of Use</h1>

<div>
   <p><strong>GENERAL TERMS</strong></p>
   <ol start="1">
      <li>
         <p><strong>Introduction</strong>&nbsp;</p>
         <ol start="1">
            <li>This Contract is a legal agreement between the Customer and Workforce. By indicating that you accept these terms, you do so on behalf of the Customer and represent that you have all necessary power and authority to bind the Customer under this Contract and that the information you provided is correct. If you later discover any inaccuracies in the information provided, you can update these in the Workforce Billing Portal section of the Customer's account.</li>
            <li>These General Terms along with the order information we collect from you when you place your order, and any other documents referred to in or incorporated into the General Terms by reference, form the <strong>"Contract"</strong>.&nbsp;</li>
            <li>Definitions for terms used in the Contract and rules governing the way in which the Contract shall be interpreted are detailed in clause 24 (below). This Contract is made only in the English language.</li>
         </ol>
      </li>
      <li>
         <p><strong>Term</strong></p>
         <ol start="1">
            <li>This Contract shall commence on the Effective Date and will continue until the end of the Initial Term, unless terminated earlier in accordance with its terms.&nbsp;</li>
            <li>The Contract will automatically renew for a Renewal Period at the end of the Initial Term and at the end of each applicable Renewal Period, unless either party gives the notice required to terminate the Contract before the end of the Initial Term or the then-current Renewal Period in accordance with clause 14. Each Renewal Period shall be the same duration as the Initial Term.</li>
            <li>If the Contract is for a Trial, then Clauses 2.1, 2.2 and 5 shall not apply, and instead the Contract shall commence on the Trial Effective Date and will continue until the end of the Trial Period, unless terminated earlier by a party for convenience by giving not less than one (1) month's written notice, or otherwise in accordance with clause 14&nbsp; (excluding clause 14.1).</li>
         </ol>
      </li>
      <li>
         <p><strong>Services</strong></p>
         <ol start="1">
            <li>
               <p>Workforce will perform each Service from the relevant Service Commencement Date: </p>
               <p>with reasonable care and skill; and </p>
               <p>in accordance with the Contract.</p>
            </li>
            <li>
               <p>Any timescales in the Contract for its commencement or performance are indicative only. Workforce will use reasonable efforts to meet such timescales and will notify the Customer (where it is reasonably practicable to do so) where it is unable to meet such timescales.</p>
            </li>
         </ol>
      </li>
      <li>
         <p><strong>Customer Obligations</strong></p>
         <ol start="1">
            <li>
               <p>The Customer shall perform the Customer Obligations in a timely manner. In particular, the Customer shall, and shall ensure that its Users shall:</p>
               <p>use the Services in a professional and responsible way, and shall comply with all applicable Laws relating to its use or receipt of the Services;</p>
               <p>use the Services only for the Customer's own internal business purposes, in the manner authorised by Workforce, and for no other purpose unless expressly provided otherwise in the Contract;</p>
               <p>ensure that its Users are properly trained in the use of the Solution;</p>
               <p>not:</p>
               <p>intentionally or recklessly distribute Viruses;</p>
               <p>upload or provide any materials which are obscene, offensive, or otherwise objectionable;&nbsp;</p>
               <p>alter, disable, interfere with, or circumvent any aspect of the Services or the equipment used to provide the Services, including any of the security features of the Services, or do anything designed to affect their integrity or access to them;</p>
               <p>test or reverse-engineer the Services in order to find limitations or vulnerabilities, or for any other reason;&nbsp;</p>
               <p>reproduce, modify, decompile, reverse engineer, or prepare derivative works of the Services, or otherwise infringe any intellectual property rights in the Services;</p>
               <p>perform any indexing, scraping, or data mining of the Services; or</p>
               <p>infringe any person's privacy rights, intellectual property rights, or other rights in the course of its use of the Services;</p>
               <p>promptly provide (with reasonable care and skill) such assistance, information, and cooperation as Workforce may reasonably request from time to time in order for Workforce to perform its obligations and ensure that all information and materials provided to Workforce is accurate, adequate, and complete;</p>
            </li>
            <li>
               <p>In relation to its use of the Solution, the Customer shall authorise and de-authorise Users through the Solution in the manner specified by Workforce, ensuring that all Users are under the Customer’s control or direction. Workforce is entitled to rely on the permissions granted to Users through the Solution in connection with the Customer's use of the Services.</p>
            </li>
         </ol>
      </li>
      <li>
         <p><strong>Charges and Payment</strong></p>
         <ul>
            <li>
               <p><em>Charges</em>&nbsp;</p>
            </li>
            <li>The Customer shall pay Workforce the Charges in consideration for the Services in accordance with this Clause 5.&nbsp;</li>
            <li>
               <p>If the Customer wishes to increase the scope of the Services after the Effective Date and Workforce agrees to such change, Workforce will modify the Charges accordingly for the remainder of the Term. If the change applies to a Service period in respect of which the Customer has already paid the Charges, then Workforce shall issue an interim invoice for the additional Services, such Charges to be paid in accordance with this Clause 5.</p>
               <p><em>Tax</em></p>
            </li>
            <li>
               <p>All sums payable by the Customer shall be exclusive of Tax. The Customer shall pay all Tax properly chargeable on those sums, if Workforce has delivered a correct Tax invoice.</p>
               <p><em>Invoicing frequency</em></p>
            </li>
            <li>
               <p>Workforce shall invoice the Customer for the Services in accordance with the charging frequency nominated by the Customer on the Workforce Billing Portal on the Effective Date (the <strong>"Payment Cycle"</strong>).:&nbsp;</p>
               <p><em>Payment terms</em></p>
            </li>
            <li>
               <p>The Customer shall on the Effective Date provide to Workforce valid, up-to-date and complete billing details acceptable to Workforce. The Customer hereby authorises Workforce to bill such payment method:</p>
               <p>for Customers that select the monthly Payment Cycle, on the Effective Date and each month thereafter for the remainder of the Term; and</p>
               <p>for Customers that select the annual Payment Cycle, on the Effective Date and each year on the anniversary of the Effective Date thereafter for the remainder of the Term.</p>
            </li>
            <li>
               <p>All amounts and fees stated or referred to in this Contract as non-cancellable and non-refundable.</p>
               <p><em>Interest for late payment</em></p>
            </li>
            <li>
               <p>If the Customer fails to pay any sums due under a Contract on or before the due date for payment, the Customer shall pay interest on the outstanding amount. Interest shall accrue at a daily rate from the due date until the date of actual payment in full (whether before or after judgment) at the rate of 4% per annum over the Bank of England Base Rate compounded monthly or, as Workforce may elect, at the rate and on the basis specified under the Late Payment of Commercial Debts (Interest) Act 1998. The Customer shall pay any interest so charged immediately on demand.&nbsp;</p>
               <p><em>Set-off and withholding</em></p>
            </li>
            <li>
               <p>The Customer shall pay Workforce all sums under the Contract in full without any set-off, counterclaim or deduction. If the Customer is required by law to deduct or withhold an amount from any sum payable to Workforce under the Contract (whether as a result of tax or otherwise), the Customer shall pay to Workforce a sum that ensures that Workforce receives and retains a net sum equal to the amount Workforce would have received if no such deduction or withholding had been made or been required to be made. If Workforce has liabilities to the Customer, Workforce may elect to set-off any sums payable by Workforce to the Customer against any sums payable by the Customer to Workforce.</p>
               <p><em>Acceleration of payment on termination</em></p>
            </li>
            <li>
               <p>All sums payable by the Customer to Workforce under the Contract shall become due immediately on its termination, despite any other provision of the Contract and without prejudice to Workforce's right to charge interest on late payment. Such sums shall include any sums that are payable as a result of termination but have not yet been invoiced by Workforce, including those due under clause 15.</p>
               <p><em>Invoice disputes</em></p>
            </li>
            <li>
               <p>If the Customer disputes the whole or part of an invoice, the Customer shall notify Workforce in writing by email to <a href="mailto:accounts@workforce.com?subject=Disputed%20Invoice%20%23%5B%20%20%20%5D">accounts@workforce.com</a> (or by such other means as Workforce may advise from time to time), within seven (7) days after the date of invoice. The notice must state that the invoice is disputed and be accompanied by details of the invoice that is being disputed and the reasons for the dispute. If the disputed amount is less than five per cent (5%) of an invoice, the Customer shall pay the invoice in full. If the disputed amount is five per cent (5%) or more of an invoice, the Customer shall pay the undisputed amount. Workforce and the Customer shall each use reasonable endeavours to resolve the dispute as soon as reasonably practicable. The Customer waives the right to dispute its liability to pay any invoice in respect of which it has not raised a dispute in accordance with this clause.&nbsp;</p>
               <p><em>Right to vary the Charges</em>&nbsp;</p>
            </li>
            <li>
               <p>Workforce reserves the right to vary the Charges by such amount as Workforce considers appropriate in its absolute discretion, and the new Charges shall take effect from the start of the next Renewal Period, provided that Workforce gives the Customer prior written notice of at least five Business Days more than the notice period specified in clause 14.114.115.1.</p>
               <p><em>Calculation of Charges</em></p>
            </li>
            <li>Where Charges are based on consumption (e.g., user numbers), the Customer must pay for the volume consumed, or its minimum purchase commitment, whichever is greater.</li>
            <li>
               <p>Charges shall be calculated in reference to;&nbsp;</p>
               <p>the number of Active Employees listed by the Customer for its account for the Software via the Workforce Application;</p>
               <p>the number of SMS messages sent by, or on behalf of, the Customer via the Software;</p>
               <p>any other variation or ‘add on’ to the Software requested by the Client.</p>
            </li>
            <li>
               <p>Notwithstanding anything else stated in the Contract, if Workforce makes a Service available for the Customer’s use or performs Services in part prior to making the full scope of the Service available or performing the Contract in full, then Workforce may invoice and the Customer shall pay a pro rata proportion of the Charges which will be calculated in relation to the part of the Service that is made available or the part of the Contract which is performed. This clause shall not apply to any Trial Services.&nbsp;</p>
               <p><em>Additional Charges</em></p>
            </li>
            <li>
               <p>Where any support or assistance is required by the Customer and is outside of the scope of a Contract, additional charges will be payable based on Workforce’s standard rates for such support or assistance at the relevant time, along with any Expenses incurred by Workforce in providing such support or assistance. This may include any support provided by Workforce to determine the origin or cause of a Service failure for which Workforce subsequently determines (acting reasonably) it was not responsible.</p>
            </li>
         </ul>
      </li>
      <li>
         <p><strong>Intellectual Property</strong></p>
         <ul>
            <li>
               <p><em>Ownership</em></p>
            </li>
            <li>Except as stated in a Contract, the Customer shall not acquire any right, title or interest in or to the Intellectual Property Rights of Workforce, its Affiliates, or its licensors, including any Intellectual Property Rights subsisting in any Services or in any materials used or supplied by Workforce pursuant to a Contract, whether pre-existing or created or coming into existence during the performance of a Contract, but excluding any Intellectual Property Rights subsisting in the Customer Material. Any new Intellectual Property Rights created in the course of or in connection with a Contract shall vest absolutely in Workforce, excluding Customer Materials.</li>
            <li>Except as stated in a Contract, Workforce shall not acquire any right, title or interest in or to the Intellectual Property Rights subsisting in the Customer Materials.</li>
            <li>
               <p>For clarity, the Customer and Workforce acknowledge that Workforce Data may incorporate or be derived, at least in part, from Customer Input Materials, and accordingly, while the Customer shall have exclusive title and ownership over the Customer Materials, Workforce shall retain exclusive title and ownership to the Workforce Data.</p>
               <p><em>Licences</em>&nbsp;</p>
            </li>
            <li>
               <p>Subject to the Customer paying the Charges in accordance with Clause 5.1, Workforce grants the Customer&nbsp; a revocable, non-exclusive, non-transferable, non-sub licensable licence during the Term to permit the Users to:</p>
               <p>access and use the Solution via the Workforce Application for the Customer's internal business purposes in accordance with the Contract;</p>
               <p>use any Intellectual Property Rights subsisting in the Services (excluding any Third Party Software) solely for the Customer's internal use in accordance with the Contract.&nbsp;</p>
            </li>
            <li>If Workforce supplies any Third Party Software, the Customer shall only have the right to use such Third Party Software in accordance with the licence terms on which the Third Party Software is supplied.</li>
            <li>The Customer grants Workforce a non-exclusive, non-transferable, worldwide licence (including the right to sub-license to its Affiliates and contractors) to use the Customer Material in order to perform the Contract.</li>
            <li>The term of any licence granted pursuant to this clause 6 shall be co-terminus with the Services to which it relates, except as otherwise stated in a Contract.&nbsp;</li>
            <li>
               <p>If Workforce or its licensors suspect that the Customer may have contravened any licence terms, Workforce may inform each relevant licensor to such effect and the Customer shall co-operate with Workforce and its licensors in investigating such activities.</p>
               <p><strong>Infringement</strong></p>
            </li>
            <li>If either party receives a claim of infringement of Intellectual Property Rights from a third party concerning (in the case of the Customer) the Services (excluding any Third Party Software) or (in the case of Workforce) the Customer Materials (an <strong>"Infringement Claim"</strong>), it shall notify the other party promptly in writing.</li>
            <li>On receipt of notice of an Infringement Claim, that party (the <strong>"Indemnifying Party"</strong>) will make reasonable efforts either to obtain for the other party (the <strong>"Indemnified Party"</strong>) (at no cost) a right to use the infringing item in accordance with the Contract or to make such modifications to the infringing item as may be necessary to remove the alleged infringement. If the Indemnifying Party is unable to obtain or if it is impractical to obtain such a right or make such a modification (at no cost), it may terminate the Contract (in whole or in part in relation to the infringing item) immediately on written notice to the Indemnified Party.</li>
            <li>Without limiting clause 6.10, the Indemnifying Party may in its own name and at its own cost undertake the conduct of any proceedings relating to an Infringement Claim, subject to any requirement for leave to be granted by the court or tribunal in which the Infringement Claim may be conducted and will indemnify the Indemnified Party from and against all damages awarded under any final judgment of a court of competent jurisdiction or agreed by the Indemnifying Party in final settlement of the Infringement Claim, provided that the Indemnified Party: (i) makes no statement prejudicial to the Indemnifying Party or in respect of such Infringement Claim; (ii) provides all reasonable assistance in connection with the Infringement Claim, at the Indemnifying Party's cost; and (iii) allows the Indemnifying Party to have sole conduct and control of the defence of the Infringement Claim and/or any settlement or compromise of the Infringement Claim, if the Indemnifying Party exercises its option to undertake the conduct of the proceedings. The indemnity in this clause 6.11 shall be the Indemnified Party's sole and exclusive remedy with respect to any Infringement Claim.</li>
         </ul>
      </li>
      <li>
         <p><strong>Liability</strong></p>
         <ol start="1">
            <li>Nothing in a Contract shall have the effect of limiting or excluding either party’s liability for fraud or fraudulent misrepresentation, death or personal injury caused by negligence, or any other matter for which it would be unlawful for a party to limit or exclude its liability.</li>
            <li>Subject to clause 7.1, Workforce's total aggregate liability for all claims, expenses, losses, damages and costs made against or incurred by the Customer in connection with the Services in any Contract Year (whether arising under contract, tort including negligence, statute or otherwise) shall not exceed the total Charges paid by the Customer to Workforce pursuant to that Contract in that Contract Year. During the Trial Period, Workforce's total aggregate liability for all claims, expenses, losses, damages and costs made against or incurred by the Customer in connection with the Services shall not exceed an amount equivalent to two pounds fifty (£2.50) per Active Employee that is authorised by the Customer to use the Service during the Trial Period.&nbsp;</li>
            <li>Subject to clause 7.1, in the event that Workforce supplies a separately identifiable Service under the same Contract as any other Services, Workforce's total liability to the Customer in any Contract Year in relation to that separately identifiable Service (whether arising under contract, tort including negligence, statute or otherwise) shall be limited to the Charges paid by the Customer to Workforce for that Service under that Contract in that Contract Year.</li>
            <li>Subject to clause 7.1, in no circumstances whatsoever shall Workforce be liable to the Customer (whether arising under contract, tort including negligence, statute or otherwise) for any loss of sales, turnover, revenue, profits or opportunity; loss of or interruption to business; loss of or damage to reputation or goodwill; loss of anticipated savings; or wasted management or administrative time.</li>
            <li>Subject to clause 7.1, in no circumstances whatsoever shall either party be liable (whether arising under contract, tort including negligence, statute or otherwise) for any indirect or consequential loss or damage or any special or exemplary loss or damage.</li>
            <li>The Customer indemnifies, and shall upon request defend, Workforce from and against any and all loss, damage, or expense suffered or incurred by Workforce in connection with a claim brought by any of Customer's personnel or subcontractors in connection with any Service.</li>
         </ol>
      </li>
      <li>
         <p><strong>Force Majeure</strong></p>
         <ol start="1">
            <li>Neither party shall be in breach of a Contract or otherwise liable to the other party for any failure to perform or delay in performing its obligations under a Contract to the extent that such failure or delay is due to a Force Majeure Event.&nbsp;</li>
            <li>If a Force Majeure Event occurs, the party affected shall take reasonable steps to mitigate the impact of the Force Majeure Event.</li>
            <li>If a Force Majeure Event continues for a period of more than sixty (60) days and continues to affect a party's ability to perform its obligations, either party shall be entitled to terminate any affected Contract and/or part thereof by giving not less than ten (10) Business Days written notice to the other party.</li>
            <li>This clause 10 shall not relieve the Customer from its obligation to pay any sums due under a Contract and its obligation to pay shall remain in full force and effect while a Force Majeure Event persists.</li>
         </ol>
      </li>
      <li>
         <p><strong>Relief Events</strong></p>
         <p>Workforce shall not be in breach of contract or otherwise liable to the Customer for any failure to perform or delay in performing its obligations under a Contract to the extent that such failure or delay is due to any failure to perform or any delay in the Customer performing any Customer Obligations, or other circumstances outside Workforce's reasonable control (a <strong>"Relief Event"</strong>). On the occurrence of a Relief Event, Workforce shall be entitled to a reasonable extension of time in order to perform its obligations and (acting reasonably) to vary the Charges, recover any additional Expenses that it may incur in performing its obligations, and charge the Customer such other sums to which it is entitled under the Contract (if any).</p>
      </li>
      <li>
         <p><strong>Confidentiality and Data Privacy</strong></p>
         <ol start="1">
            <li>
               <p>Except to the extent set out in this clause 10 or where disclosure is expressly permitted elsewhere in a Contract, each party shall:</p>
               <p>treat the other party's Confidential Information as confidential and safeguard it accordingly; and</p>
               <p>not disclose the other party's Confidential Information to any other person without the other party’s or the owner's prior written consent.</p>
            </li>
            <li>
               <p>Clause 10.1 shall not apply to the extent that:</p>
               <p>such disclosure is a requirement of Law placed upon the party making the disclosure;</p>
               <p>such information was in the possession of the party making the disclosure right without obligation of confidentiality prior to its disclosure by the information owner, or is obtained from a third party without obligation of confidentiality;</p>
               <p>such information was already in the public domain at the time of disclosure otherwise than by a breach of a Contract;</p>
               <p>such information is independently developed without access to the other party’s Confidential Information;&nbsp;</p>
               <p>disclosure is made to a party’s legal counsel, independent auditors, or other professional advisers who are subject to professional duties of confidence; or</p>
               <p>the Confidential Information is personal data for which a party who would otherwise be subject to an obligation of confidence under this clause is a Controller.&nbsp;</p>
            </li>
            <li>
               <p>Workforce may disclose the Customer’s Confidential Information to:&nbsp;</p>
               <p>any of its Affiliates for the purposes of management and reporting or who have a need to know the Confidential Information in order to assist Workforce in the performance of a Contract;</p>
               <p>any employees, consultants, directors, officers, contractors, subcontractors, and service providers who have a need to know the Confidential Information for the performance of a Contract;</p>
               <p>any bank or third party providing finance to Workforce; or</p>
               <p>any other person to whom Workforce may disclose Confidential Information or certain categories of Confidential Information as stated in a Contract (including the Data Processing Schedule).</p>
            </li>
            <li>Information Security and Compliance</li>
            <li>
               <p>The Customer will be responsible for:</p>
               <p>preventing unauthorised use of the Services;</p>
               <p>maintaining the security of all systems and equipment within its (or its employees’, agents’ or contractors’) control;&nbsp;</p>
               <p>maintaining (and ensuring that each of its Users maintains) the integrity and secrecy of all passwords, log-in details, and access codes used for the purposes of accessing or using the Services or any systems or equipment; and</p>
               <p>ensuring that it maintains a list of its Users and terminates access immediately for anyone who is no longer a User.</p>
            </li>
            <li>The Customer shall notify Workforce immediately of any illegal, fraudulent, or unauthorised use of the Services of which it becomes aware. Workforce will be entitled to suspend the provision of the Services upon receipt of the Customer’s notice. Workforce will lift its suspension or recommence its provision of the Services within a reasonable timescale after the Customer demonstrates to Workforce’s reasonable satisfaction that appropriate technical, organisational, security, or other measures have been put in place to prevent any further unauthorised use of the Services. The Customer will remain liable for the payment of the Charges for the Service whilst it is suspended.</li>
            <li>The Customer understands and accepts the performance by Workforce of certain Services may carry a risk to the Customer of loss or corruption of data. Workforce shall have no obligations in respect of data backup or retention. Workforce shall not be liable to the Customer (whether under contract, tort including negligence, statute or otherwise) for any loss of or damage to data, systems, or programs.</li>
            <li>The Customer acknowledges that Workforce may (but is not obliged to) hold Client Materials for such period as Workforce considers reasonable following termination of the Contract to comply with its legal obligations and otherwise in accordance with the Policies.</li>
            <li>Workforce shall have the right to examine, from time to time, the use to which the Customer puts the Service and the nature of the data or information that the Customer is transmitting or receiving via the Service where such examination is necessary: (i) to protect/safeguard the integrity, operation and functionality of Workforce’s systems or the systems of any third parties used to provide the Services; (ii) to monitor the performance of the Services including the Customer’s usage; and (iii) to comply with Workforce's contractual obligations to its third party suppliers and licensors. The Customer hereby consents to such examination and shall provide Workforce with information regarding such matters without undue delay upon Workforce's reasonable request</li>
         </ol>
      </li>
      <li>
         <p><strong>Changes</strong></p>
         <ol start="1">
            <li>
               <p>Workforce may at its discretion by giving at least ten (10) days' prior written notice to the Customer:&nbsp;</p>
               <p>change the technical specification or functionality of a Service;</p>
               <p>provide an alternative service or software or make changes to a Service; and</p>
               <p>change a Service or these General Terms or the other provisions of the Contract as it may consider appropriate, for example to reflect changes made to the services supplied by third party agents, sub-contractors, or licensors used by Workforce to provide the relevant Service or the terms on which they do business with Workforce,</p>
               <p>(each a <strong>"Workforce Change"</strong>).&nbsp;</p>
            </li>
            <li>
               <p>A Workforce Change shall be binding on the Customer unless the Customer objects to it. The Customer shall have the right to object to a Change only if it materially decreases or impairs the performance of the Service or if there is a material variation to the terms of the Contract detrimental to the Customer (a <strong>"Material Workforce Change"</strong>). If the Customer has not given written notice of its rejection of a Material Workforce Change within five (5) days of being notified of it, then the Customer will be deemed to have accepted it. If the Customer objects to a Material Workforce Change within the required time period, then the following provisions shall apply:&nbsp;Workforce shall have the right to suspend the affected Service(s) without liability to the Customer until agreement can be reached or the Contract terminated (as follows);</p>
               <p>the parties will negotiate in good faith to agree a variation acceptable to both parties. If the parties cannot agree on the proposed variation within ten (10) days of the Customer receiving the initial details of the variation from Workforce, either party may terminate the Contract and Workforce shall have no liability to the Customer for such termination. The Customer shall remain liable to pay to Workforce all Charges and Expenses incurred up to the date of termination; and</p>
               <p>Workforce shall be entitled to charge any additional Charges and Expenses incurred as a result of any delay in the Customer's acceptance of the variation that may cause Workforce to demobilise and/or remobilise any resources or extend the timescales for the performance of the Contract, if such additional Charges and Expenses are not incorporated into a variation that is agreed by Workforce and the Customer.</p>
            </li>
            <li>If the Customer is given administrative control in respect of a Service pursuant to a Contract, such as the ability to activate/deactivate or customise different features of the Service, the Customer is responsible for ensuring the Service remains suitable and does so at its own risk. Workforce shall not be liable whether in contract, tort (including negligence), breach of statutory duty or otherwise howsoever arising for any errors, faults in the Services as a result of any such changes, and may charge for any time which it spends in relation to any such errors or faults (including time spent investigating and correcting the same) at its standard rates for professional services from time to time.</li>
            <li>If any Charges under a Contract are based on a Customer's usage or consumption of Services and the Contract provides a mechanism for determining any additional Charges or Expenses for additional usage or consumption, such a change shall not require any variation to the Contract or any consent or agreement from the Customer.&nbsp;</li>
         </ol>
      </li>
      <li>
         <p><strong>Suspension</strong>&nbsp;</p>
         <ol start="1">
            <li>
               <p>Workforce may suspend access to a Service, either in whole or in part:&nbsp;if any circumstances occur which would give Workforce a right to terminate the Service or any Service upon which it relies;&nbsp;</p>
               <p>in an event of emergency, and/or to safeguard the integrity and security of its network, and/or to maintain, repair, or enhance the performance of its network;&nbsp;</p>
               <p>for any breach or suspected breach of clause 4;&nbsp;</p>
               <p>where a third-party service provider or licensor suspends or interrupts the provision of the Services;&nbsp;</p>
               <p>where the Customer fails to pay any sums payable under a Contract as and when they become due; or&nbsp;</p>
               <p>where it is expressed to have the right to do so elsewhere in a Contract.</p>
            </li>
            <li>Workforce will give the Customer at least two (2) days' notice of any suspension where it is reasonably practicable or appropriate for Workforce to do so in the circumstances, unless otherwise stated in a Contract.&nbsp;</li>
            <li>Workforce is not obliged to suspend or give any notice of suspension before exercising its right to terminate a Service or Contract in whole or in part.</li>
            <li>Workforce shall not be liable to the Customer for any loss or damage resulting from any suspension made in accordance with this clause 13.</li>
         </ol>
      </li>
      <li>
         <p><strong>Termination Rights</strong></p>
         <ol start="1">
            <li>Unless otherwise stated in a Contract, either party may terminate a Contract for convenience by giving written notice to the other, such notice to take effect upon expiry of the Initial Term or the then-current Renewal Period. If the Initial Term or Renewal Period is a year or more, the required notice period shall be three (3) months. Otherwise, it shall be one (1) month.&nbsp;</li>
            <li>
               <p>Either party may terminate a Contract immediately or on such other notice as it considers appropriate if:</p>
               <p>the other party fails to pay any amount due under a Contract on the due date for payment and remains in default not less than seven (7) days after being notified in writing to make such payment;</p>
               <p>the other party is in material breach of a Contract and the breach either cannot be remedied or is not remedied by the other party within thirty (30) days of receiving notice of the breach from the party not in breach.</p>
            </li>
            <li>
               <p>Workforce may terminate this Contract:&nbsp;</p>
               <p>to manage obsolescence or discontinuance of Services or any services or systems used by it to provide any Services;&nbsp;</p>
               <p>in any other circumstances in which Workforce has suspended a Service in accordance with the Contract and has not been able to reinstate it within ten (10) Business Days following the initial suspension having exercised reasonable efforts to do so where appropriate; or</p>
               <p>where it is expressed to have the right to do so elsewhere in a Contract.</p>
            </li>
            <li>Where a party has the right to terminate a Contract, it shall also have the right to terminate a Contract in part in relation to a separately identifiable Service provided by Workforce under the same Contract as other Services. Termination of a Contract in part will not affect the parties’ rights and obligations with regard to any other part of the Contract that remains in force, provided that Workforce shall have the right to vary the Charges or recover additional Expenses if its costs in providing the remaining Services increase or if it incurs additional costs to implement the partial termination of the Contract.&nbsp;</li>
            <li>If the Customer has given notice to terminate a Contract or a separately identifiable Service provided by Workforce under the Contract, and the Customer wishes to retract or delay such termination, the Customer may notify Workforce and Workforce will endeavour to continue performing the Contract or providing the separately identifiable Service and shall be entitled to charge the Customer administrative or other Charges for processing such request at its then current standard rates. Workforce shall not be liable in the event that it cannot retract or delay termination and may at is discretion require the Customer to enter into a new Contract.</li>
         </ol>
      </li>
      <li>
         <p><strong>Consequences of Termination</strong>&nbsp;</p>
         <ol start="1">
            <li>Termination or expiry of a Contract or Service shall not affect any accrued rights or liabilities of either party nor shall it affect any other provision of a Contract which is expressly or by implication intended to come into or continue in force on or after termination or expiry of a Contract or Service, including clauses 5, 7, 8, 9, 15, 16, 17, 18, 19, 20, 21, 22, 23, and 24.&nbsp;</li>
            <li>If a Contract or a Service is terminated by the Customer under clause 13.1, Workforce shall not be liable to repay any Charges or Expenses paid in advance for the period after the cessation of the Contract or Service.&nbsp;</li>
            <li>If a Contract or a Service is terminated by Workforce under clause 13.2 or by the Customer for any reason other than for Workforce's material breach, with effect before the end of the Initial Term or current Renewal Period, the Customer shall be liable to pay to Workforce all remaining Charges which would have been due to Workforce under the Contract or for the Service until the end of the Initial Term or current Renewal Period, or such other termination fees or cancellation charges as may be specified in the Contract.&nbsp;</li>
            <li>If a Contract or a Service is properly terminated by the Customer under clause 13.2, Workforce agrees to credit or repay the Customer within a reasonable period the appropriate proportion of any Charges or Expenses paid in advance for the period after the cessation of the Contract or Service.</li>
            <li>Following notice of termination of a Contract or Service by either party (except where Workforce has terminated the Contract or Service in any of the circumstances set out in clause 13.2 or 13.3), Workforce shall, subject to the payment of any applicable Charges and Expenses, continue to provide the Services until the date of termination.</li>
         </ol>
      </li>
      <li>
         <p><strong>Notices</strong>&nbsp;</p>
         <ol start="1">
            <li>Notices given under a Contract shall be in writing, in the English language and sent by email to the address of the Customer provided by the Customer on the Effective Date or otherwise notified to the Customer.</li>
            <li>No notice to Workforce of any dispute or of any termination of a Contract (in whole or in part) shall be effective unless the notice is sent in accordance with clause 16.1 with a copy sent by email to <a href="mailto:legal@workforce.com?subject=Contract%20Notice">legal@workforce.com</a>.</li>
            <li>Notices given under a Contract are deemed to be given by the sender and received by the addressee on the same Business Day as received according to the recipient's email system if received within normal business hours or, if received outside normal business hours, on the next Business Day.</li>
         </ol>
      </li>
      <li>
         <p><strong>Assignment and Subcontracting</strong>&nbsp;</p>
         <ol start="1">
            <li>Workforce may assign (whether absolutely or by way of security and whether in whole or in part), transfer, mortgage, charge, declare itself a trustee for a third party of, or otherwise dispose of (in any manner whatsoever) the benefit of a Contract or any part thereof to an Affiliate without the consent of the Customer.</li>
            <li>Each party may subcontract or otherwise delegate the performance of any of its obligations (including, in the case of Workforce, the provision of an individual Service, or the Services collectively) under a Contract without the consent of the other party, except as otherwise expressly provided in a Contract. A party who subcontracts or otherwise delegates the performance of its obligations shall remain liable for their proper performance.</li>
            <li>The Customer may not assign (whether absolutely or by way of security and whether in whole or in part), transfer, mortgage, charge, declare itself a trustee for a third party of, or otherwise dispose of (in any manner whatsoever) the benefit of a Contract or any part thereof without the prior written agreement of Workforce.</li>
         </ol>
      </li>
      <li>
         <p><strong>Governing Law, Jurisdiction, and Dispute Resolution</strong></p>
         <ol start="1">
            <li>The Contract and any non-contractual obligations arising in connection with it shall be governed by and construed in accordance with the laws of England. Except as otherwise expressly provided in a Contract, the parties shall submit to the exclusive jurisdiction of the Courts of England.</li>
            <li>If any dispute arises out of or in connection with a Contract, directors or other senior representatives of the parties with authority to settle the dispute shall, within fourteen (14) days after receipt of a written request from one party by the other party (the <strong>"Dispute Notice"</strong>), meet (virtually) in a good faith effort to resolve the dispute.</li>
            <li>If the parties are unable to resolve the dispute within twenty-eight (28) days of the Dispute Notice being received, either party may refer the matter for mediation in accordance with the Centre for Effective Dispute Resolution (<strong>"CEDR"</strong>) Model Mediation Procedure. Unless otherwise agreed between the parties, the mediator will be nominated by CEDR. To initiate the mediation a party must give notice in writing (<strong>"Mediation Notice"</strong>) to the other party to the dispute requesting a mediation, with a copy of the request to CEDR. The mediation will start not later than thirty (30) days after the date of the Mediation Notice, or such other period as the parties may agree in writing.</li>
            <li>If the dispute is not settled by mediation within thirty (30) days of commencement of the mediation or within such further period as the parties may agree in writing, either party may commence legal proceedings.</li>
            <li>Nothing in this Clause 20 shall limit the right of any party to seek injunctive or other interlocutory relief in any jurisdiction at any time.</li>
         </ol>
      </li>
      <li>
         <p><strong>Entire agreement</strong></p>
         <ol start="1">
            <li>The Contract constitutes the entire agreement and understanding between the parties relating to its subject matter and supersedes any other agreement or understanding (written or oral) between the parties relating to the same subject matter.</li>
            <li>All warranties, terms, conditions, undertakings, representations and obligations implied by statute, common law, trade usage, course of dealing or otherwise are excluded to the fullest extent permitted by law. In particular, Workforce does not guarantee that the Services or anything else supplied under a Contract will be uninterrupted or error-free and Workforce makes no other representation or warranty, whether express or implied, and excludes any such representations or warranties to the fullest extent permitted by law, including implied warranties of merchantability and fitness for a particular purpose or warranties that anything supplied by Workforce under a Contract will meet the Customer's requirements or work in combination with any third party software, hardware or services, unless otherwise stated in a Contract.</li>
            <li>Neither party shall rely on, nor shall have any remedy in respect of, any promise, assurance, agreement, statement, warranty, undertaking or representation made (whether innocently or negligently) by any other party or any other person, except as expressly set out in a Contract and in respect of which its sole remedy shall be for breach of contract. Any such promise, assurance, agreement, statement, warranty, undertaking or representation, including any advertising or description contained in any catalogue or brochure, is hereby excluded and withdrawn.</li>
            <li>Nothing in this clause shall exclude the liability of either party for fraud or fraudulent misrepresentation.</li>
         </ol>
      </li>
      <li>
         <p><strong>Variation of a Contract</strong>&nbsp;</p>
         <ol start="1">
            <li>Save as expressly permitted by this Contract, no variation of a Contract shall be effective unless it is in writing, it is signed by or on behalf of each of the parties to that Contract and it references the relevant provisions of the Contract that have been varied.</li>
            <li>For the avoidance of doubt, Workforce shall be entitled to vary the Documentation and Policy Documents (acting reasonably) at any time without the consent of the Customer. Workforce will use reasonable endeavours to give the Customer as much notice as is reasonably possible of such changes.</li>
         </ol>
      </li>
      <li>
         <p><strong>Waiver</strong>&nbsp;</p>
         <p>The rights and remedies of the parties shall not be affected by any failure to exercise or delay in exercising any right or remedy or by the giving of any indulgence by any other party or by anything whatsoever except a specific waiver or release in writing and any such waiver or release shall not prejudice or affect any other rights or remedies of the parties. No single or partial exercise of any right or remedy shall prevent any further or other exercise thereof or the exercise of any other right or remedy.</p>
      </li>
      <li>
         <p><strong>Severance and Unenforceable Provisions</strong>&nbsp;</p>
         <p>If any provision or part of a Contract is illegal, unlawful, void or unenforceable due to any Law, it shall be deemed to be deleted and the remaining provisions of a Contract shall continue in full force and effect.</p>
      </li>
      <li>
         <p><strong>Rights of Third Parties</strong>&nbsp;</p>
         <ol start="1">
            <li>Any Workforce Affiliate may enforce the terms of a Contract and any other third party who is expressly conferred a benefit and a right to enforce such benefit under a Contract may enforce the relevant terms of the Contract subject to and in accordance with the Contracts (Rights of Third Parties) Act 1999.</li>
            <li>Workforce and the Customer may vary or rescind a Contract without the consent of any third party.</li>
            <li>Subject to clause 23.1, a person who is not a party to a Contract has no right under the Contracts (Rights of Third Parties) Act 1999 to enforce any term of a Contract</li>
         </ol>
      </li>
      <li>
         <p><strong>Definitions and Interpretation</strong></p>
      </li>
   </ol>
   <p>In a Contract, unless the context otherwise requires, these terms will be given the following meanings</p>
   <ul>
      <li><strong>“Active Employee”</strong>: a User that contributes towards the calculation of charges for billing purposes. Active employees are Users that have the “Employee” permission box in their profile selected and have not been deactivated by the Customer prior to the billing date.</li>
      <li><strong>"Affiliate"</strong>: in relation to a body corporate, any other entity which directly or indirectly Controls, is Controlled by, or is under direct or indirect common Control with, that body corporate from time to time;</li>
      <li><strong>"Business Day"</strong>: a day not being a Saturday, Sunday, bank or public holiday on which trading banks are generally open for business in the City of London;</li>
      <li><strong>"Charges"</strong>: the fees payable for Services as calculated based on the prices quoted on the Workforce Billing Portalon the Effective Date</li>
      <li><strong>"Confidential Information"</strong>: a Contract and all materials, data and other documents which are disclosed by one party to the other in fulfilling the provisions and intent of a Contract or which are otherwise provided to the other in the contemplation of or the performance of the Contract;</li>
      <li><strong>"Consumer Price Index"</strong>: the consumer price index (All Items) of the United Kingdom or any replacement index published by the Office for National Statistics or any successor body;&nbsp;</li>
      <li><strong>"Contract"</strong>: has the meaning given to it in paragraph 1.1;</li>
      <li><strong>"Contract Year"</strong>: each successive twelve (12) month period commencing on the Effective Date and on each anniversary thereof;&nbsp;</li>
      <li><strong>"Control"</strong>: where a person possesses, directly or indirectly, the power to direct or cause the direction of the management and policies of the other person (whether through the ownership of voting shares, by contract or otherwise) and <strong>"Controls"</strong> and <strong>"Controlled"</strong> shall be interpreted accordingly;</li>
      <li><strong>"Customer"</strong>: the customer whose details were submitted as part of the sign-up process for the Services on the Workforce Billing Portal;</li>
      <li><strong>"Customer Material"</strong>: all data, information, documents, and materials uploaded by the Customer, or provided to the Customer as an output of the Solution, excluding the Workforce Data;</li>
      <li><strong>"Customer Obligations"</strong>: any obligations of the Customer that are set out in a Contract, any terms that are applicable to the Customer’s use or receipt of a Service and are incorporated into the Contract by reference, and any other reasonable requests notified to the Customer in connection with its use of the Services;</li>
      <li><strong>"Data Processing Schedule"</strong>: the document which details the terms relating to the collection, storage and use of personal data, the current version of which is available on the Workforce Web Site or upon request from Workforce;</li>
      <li><strong>"Documentation"</strong> means the documents which set out a description of the Services and the user instructions for the Services, the current versions of which are available on the Workforce Web Site or upon request from Workforce;</li>
      <li><strong>"Effective Date"</strong>: the date the Contract is entered into on behalf of the Customer in connection with delivery of the Services, after fulfilment of any Trial Period (as applicable);</li>
      <li><strong>"Force Majeure Event"</strong>: an act of God; or war, insurrection, riot, civil commotion, act or threat of terrorism; or lightning, earthquake, fire, flood, storm, or extreme weather condition; or theft, malicious damage; or strike, lockout, industrial dispute (whether affecting the workforce of a party and/or any other person); or breakdown or failure of plant, machinery, or equipment, or of public networks; or inability to obtain essential supplies or materials; or change in Law; or any failure or default of a supplier or sub-contractor of the relevant party; or any other event or circumstance to the extent it is beyond the reasonable control of the relevant party;</li>
      <li><strong>"General Terms"</strong>: clauses 1 to 24 (inclusive) of this document;</li>
      <li><strong>"Initial Term"</strong>: the initial term of a Contract commencing on the Effective Date and expiring at the end of the latest-expiring Minimum Period. ;&nbsp;</li>
      <li><strong>"Intellectual Property Rights"</strong>: patents and applications for patents, trade marks, service marks and domain names and applications for the same, unregistered trade marks and rights in trade names and business names, copyright (including copyright in computer software), Know How, database rights, rights in designs and rights in inventions, and any rights of the same or similar effect or nature as any of the foregoing;</li>
      <li><strong>"Law"</strong>: any applicable law, statute, bye-law, regulation, order, regulatory policy, guidance or industry code, rule of court or directives or requirements of any regulatory body, delegated or subordinate legislation or notice of any regulatory body;&nbsp;</li>
      <li><strong>"Material Workforce Change"</strong>: has the meaning given to it in clause 14.2;</li>
      <li><strong>"Minimum Period"</strong>: the minimum period for which the Customer purchases a Service as specified in the Workforce Billing Portal, running from the relevant Service Commencement Date;</li>
      <li><strong>"Open Source Software"</strong>: any software code that is made available to the public generally in source code form without any confidentiality restrictions, including any code that is derived in any manner (in whole or in part) from such code;</li>
      <li><strong>"party"</strong>: either Workforce or the Customer and <strong>"parties"</strong> shall means both of Workforce and the Customer;</li>
      <li><strong>"Trial"</strong>: a short-term arrangement allowing the Customer to use the Services free of charge subject to the terms of this Contract;</li>
      <li><strong>"Trial Effective Date"</strong> the date the Customer accepts the Contract in connection with delivery of the Trial Services;</li>
      <li><strong>"Trial Period"</strong>: two (2) weeks, commencing on the Trial Effective Date;</li>
      <li><strong>"Trial Services"</strong> means Services delivered during the Trial Period;</li>
      <li><strong>"Policy Documents"</strong>: the Security Policy, Data Processing Schedule, and such other policy documents as may be notified by Workforce from time to time;</li>
      <li><strong>"Renewal Period"</strong>: a renewal period for a Contract, commencing on the day after the expiry of the Initial Term or the then-current Renewal Period;</li>
      <li><strong>"Security Policy"</strong>: Workforce’s security policy which details the security measures taken by Workforce in the provision of the Services and its current practices regarding the maintenance of the security of data, the current version of which is available on the Workforce Website or upon request from Workforce;</li>
      <li><strong>"Service"</strong>: the services selected by the Customer on the Workforce Billing Portal on the Effective Date, including the provision of the Solution as further described in the Documentation;</li>
      <li><strong>"Service Commencement Date"</strong>: the date upon which Workforce first makes a Service available for use by the Customer, unless otherwise stated in a Contract;&nbsp;</li>
      <li><strong>"Solution"</strong>: the online system that is provided to assist in the preparation and publication of rosters, recording of time and attendance data, generation of timesheets, and calculation of payroll;</li>
      <li><strong>"Special Terms"</strong>: any additional contractual terms contained on the Order Form;</li>
      <li><strong>"Workforce"</strong>: the supplier of the Services identified in a Contract being either (i) Workforce HCM Limited (CRN: 11822729) whose registered office is at Office 208, 2nd Floor, The Frames 1 Phipp Street, London EC2A 4PS.&nbsp;</li>
      <li><strong>"Workforce Application"</strong>: means the service accessible at URL my.workforce.com or such other website as may be notified by Workforce from time to time;&nbsp;</li>
      <li><strong>"Workforce Billing Portal"</strong>: means the accounts and billing portal accessible at URL my.workforce.com/account, my.workforce.com/account/upgrade or such other website as may be notified by Workforce from time to time;&nbsp;</li>
      <li><strong>"Workforce Change"</strong>: has the meaning given to it in clause 14.1;</li>
      <li><strong>"Workforce Data"</strong>: means data that is in aggregate or de-identified form (irrespective of source), or is held by, or disclosed to, Workforce independently of the Contract;</li>
      <li><strong>"Workforce Website"</strong>: means the public facing website at URL <a href="https://www.workforce.com">www.workforce.com</a>&nbsp; or such other website as may be notified by Workforce from time to time;&nbsp;</li>
      <li><strong>"Tax"</strong>: any present or future tax, levy, deduction, charge, or duty, including value added tax as provided for in the Value Added Tax Act 1994 or any other similar tax that is imposed in any jurisdiction including any goods and services tax;</li>
      <li><strong>"Third Party Software"</strong>: Software firmware, or other code, which is proprietary to a third party (including any Open Source Software);&nbsp;</li>
      <li><strong>"Term"</strong>: the duration of a Contract as described in clause 2;</li>
      <li><strong>"User"</strong>: an individual who is authorised by the Customer to access or use the Solution on behalf of the Customer; and</li>
      <li><strong>"Virus"</strong>: viruses, logic bombs, worms, trojan horses and any other type of disruptive, destructive, deceptive, or nuisance programs or malicious code and any code that is operates to disable or interfere with any software or information technology systems.</li>
   </ul>
   <p>In the Contract, unless the Contract otherwise requires:</p>
   <p>words in the singular shall include the plural and words in the plural shall include the singular;&nbsp;</p>
   <p>words denoting any gender include all genders;&nbsp;</p>
   <p>the headings are for convenience only and shall not affect the construction of a Contract;&nbsp;</p>
   <p>references to each party herein include references to its successors in title and permitted assigns. If a party comprises more than one person, a Contract will apply to them jointly and severally;</p>
   <p>references to "includes" or "including" shall be read as being immediately followed by the words "without limitation";&nbsp;</p>
   <p>any capitalised terms (or terms beginning with a capital letter) that are used but are not defined in the Contract shall be given their generally accepted meaning in the information technology industry or, where there is no such generally accepted meaning, their ordinary meaning within the context of the Contract;&nbsp;</p>
   <p>a "signature" may include a handwritten "wet ink" signature, a digital signature or any other electronic act indicating consent or acceptance including a typed-name, clicking a website button or incorporating a scanned manuscript signature into a document or email, and any reference to "sign" or "signed" shall be construed accordingly.</p>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
