<div class="flex space-x-2 items-center justify-center">
	<svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-green-500 -ml-5" viewBox="0 0 20 20" fill="currentColor">
	  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
	</svg>
	<h2 class="relative text-left text-4xl text-gray-800 font-extrabold tracking-tight sm:text-5xl z-10 mb-2">Request sent</h2>
</div>
<p class="text-lg text-gray-600 text-left mt-2 text-center">We'll be in touch shortly with a detailed quote.</p>